/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: grid;
  grid-template-areas: 'header header header'
  'nav content sidebar'
  'nav footer footer'
  ;

  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 1fr 70px;
}

header,
footer,
aside,
main,
nav {
  background-color: steelblue;
  color: #fff;
  padding: 20px;
  border: 1px solid skyblue;
}



header {
  grid-area: header;
}

main {
  grid-area: content;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}